.inbtn{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
border: 2px solid black;
}
.debtn{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}
.rebtn{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.display{
    font-size: 5rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}